<head>
    <%- include("partials/head")%>
</head>
<body>
    <%- include("partials/nav")%>
    <div class="posts my-2">
        <h1 class="m-2 fs-1">Lista de posteos</h1>
        <a href="/crear" class="btn btn-success ms-3">
            <i class="bi bi-upload px-3"></i>
        </a>
    </div>
    <!--Tabla con los posts-->
    <div class="container-sm">            
        <table class="table table-info align-middle">
            <% resultado.forEach((post) =>{ %>
            <thead>
                <tr>
                    <th scope="col" hidden>Id</th>
                    <th scope="col" hidden>Post</th>
                    <th scope="col" hidden>Img</th>
                    <th scope="col" hidden>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider text-center">
                <tr>
                    <td class="align-top">
                        <p><%= post.id %></p>
                    </td>
                    <td>
                        <table class="table mb-0 table-info table-borderless">
                            <thead>
                                <tr>
                                    <th scope="row" class="border-bottom border-warning">
                                        <h2 class="titlePost"><%= post.titulo %></h2>
                                    </th>
                                </tr>        
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle contenido">
                                        <p><%= post.contenido %></p>
                                    </td>                                    
                                </tr>                                
                            </tbody>
                                <tfoot>
                                    <td class="align-bottom fecha">
                                        <p>Creado: <%= new Date(post.createdAt).toLocaleString() %></p>
                                    </td>
                                </tfoot>
                          </table>                       
                    </td>
                    <td class="align-middle">
                        <img src="<%= post.url_imagen %>" alt="imagen subida por el usuario" style="height: 100px; width: 100px; border-radius: 50%;">
                    </td>
                    <td class="align-bottom">
                        <div class="btn-group" role="group" aria-label="botones de edición y eliminación de la información">
                            <a href="/editar/<%= post.id %>" class="btn btn-primary"><i class="bi bi-pencil"></i></a>
                            <a  href="/borrarPost/<%= post.id%>" class="btn btn-danger" ><i class="bi bi-trash"></i></a> 
                        </div>
                    </td>
                </tr>           
            </tbody>
           <% }) %>
        </table>
   </div>
   
</body>
<footer>
    <%- include("partials/footer")%>
</footer>